{% extends 'partials/base.html' %}
{% block title %} Página de Atualização de Produtos Químicos{% endblock %}

{% load crispy_forms_tags %}

{% block content%} 

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Editar item</h3>
                <hr>

                <form method="POST">

                    {% csrf_token %}
                    {{ form|crispy}}

                    <a class="btn btn-secondary" href="{% url 'estatisticas-produtos' %}">Cancelar</a>

                    <input class="btn btn-info" type="submit" value="Finalizar edição">

                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %} 
