{% extends 'partials/base.html' %}
{% block title %} Página de Retirada de Produtos Químicos{% endblock %}

<!--Block de retirada-->

{% block content%} 

 <!--Topside - widgets de informações-->

 {% include 'partials/topnav.html' %}

 <!--End Topside-->

<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Produto retirado</th>
                        <th scope="col">Retirado por</th>
                        <th scope="col">Quantidade retirada</th>
                        <th scope="col">Retirado em:</th>
                    </tr>
                </thead>
                <tbody>
                    

                    {% for retirada in retiradas %}
                    <tr>
                        <td> {{retirada.id}} </td>
                        <td> {{retirada.produto}} </td>
                        <td> {{retirada.staff}} </td>
                        <td> {{retirada.quantidade_retirada}} </td>
                        <td> {{retirada.data}} </td>
                    </tr>

                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->

{% endblock %}

<!--Endblock-->