{% extends 'partials/base.html' %}

{% block title %} Logout {% endblock %}


{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3">
                <div class="alert alert-danger">
                    <h4>Você foi deslogado.</h4>
                    <hr>
                    <h4><a href="{% url 'user-login' %}">Realizar login novamente</a></h4>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}